{
  "extends": "react-app",
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "quotes": ["warn", "double"],
    "indent": ["warn", 2],
    "max-len": ["error", { "code": 80 }],
    "comma-dangle": ["warn", "always-multiline"],
    "semi": ["warn", "always"],
    "import/order": [
      "warn",
      {
        "groups": [
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ]
      }
    ]
  }
}
